body{
font-family: Arial;
background:#111;
color:white;
margin:0;
}

header{
padding:20px;
text-align:center;
}

#categories{
margin-top:10px;
}

#categories button{
margin:5px;
padding:8px 14px;
border:none;
background:#ff3d00;
color:white;
border-radius:6px;
cursor:pointer;
}

#movies{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:15px;
padding:20px;
}

.card{
background:#1c1c1c;
border-radius:10px;
overflow:hidden;
text-align:center;
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.card h3{
font-size:14px;
padding:10px;
}

.buttons{
display:flex;
justify-content:space-around;
padding:10px;
}

.buttons button{
border:none;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
}

.play{
background:#00c853;
color:white;
}

.download{
background:#2962ff;
color:white;
}

.copy{
background:#ff9100;
color:white;
}
.modal{

position:fixed;
top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.9);

display:none;

align-items:center;
justify-content:center;
flex-direction:column;

}

.modal video{

width:90%;
max-width:900px;

}